{% load static %}
<!doctype html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<style> .text-base{
    font-family: 'Playfair Display', serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}</style>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AskPupkin</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>

  <body class="pb-5">
    <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #74b1fa;">
        <div class="container">
            <a class="navbar-brand fs-3 font-style-basic text-base" href="{% url 'index' %}" >AskPupkin</a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button href="./ask.html" class="btn btn btn-outline-light" type="submit">Ask</button>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div class="content">
                    <div class="content__links">
                        <a class="link-light link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover font-monospace " href="{% url 'login' %}">Log in</a>
                        <a href="{% url 'signup' %}" class="link-light link-offset-2 link-underline-opacity-50 link-underline-opacity-100-hover ms-3 font-monospace">Register</a>
                    </div>
                </div>

            </div>

        </div>
    </nav>
   
    <main class="container">
        <div class="row">
        <section class="col-8 vh-100">
            {% block content %}
            
            {% endblock %}
            
        </section> 
        
        
        <aside class="col-4 vh-100">
            
            <h3 class="fs-2 fw-semibold text-base mt-5">Popular tags</h3>
                    <div style="margin-top: 20px; margin-bottom: 20px;">
                        <a href=""><h5><span class="badge rounded-pill text-bg-primary mb-1">Perl</span></a>
                        <span class="badge rounded-pill text-bg-primary mb-1">Python</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">TechnoPark</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">MySQL</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">django</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">Mail.ru</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">Voloshin</span>
                        <span class="badge rounded-pill text-bg-primary mb-1">Firefox</span></h5>
                    </div>
            <h3 class="text-base fs-2 fw-semibold">Best Members</h3>
            <div class="list-group font-monospace ">
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#" aria-current="true">
                Mr.Freeman
                </a>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Dr.House</a>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Bender</a>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Queen Victoria</a>
                <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">V.Pupkin</a>
              </div>
              
        </aside>
    </main>
    <footer class="footer fixed-bottom p-4" style="background-color: #74b1fa;"></footer>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>