{% extends 'layouts/base.html' %}
{% load bootstrap5 %}
{% block content %}
        <div class="d-flex align-items-center gap-2 mb-3 mt-4 text-base">
            <h1>Log In</h1>
        </div>
            <div class="row">
                <div class="col-10">
                    <form action="" method="POST" class="was-validated col-9">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button type="submit" class="btn btn btn-outline-primary mt-2 w-100">Log in</button> 
                        <div class="mt-2 d-flex align-items-center" ><div class="mt-2 mb-1">Don't have an account?</div>
                            <a href="{% url 'signup' %}" class="ms-2 d-block">Sign up</a></div>
                        {% endbuttons %}
                        </form>
                        
                        
                </div>
                
            </div>
            
        {% endblock %}