<!-- нужно ли прописать нажатие некоторых кнопок(типа переход на страницу и т.п.), разобраться с обработкой ошибок(нужно ли мне что-то добавить), подумать над дизайном, нижняя часть этой страницы обрезает ввод текста(add your answer), как использовать шаблонизатор-->
{% extends 'layouts/base_no_register.html' %}
{% block content %}
            <div class="card mb-4 mt-3" style="width: 100%;">
                <div class="card-body rounded border border-black" >
                  <div class="d-flex">
                    <div class="col-2 me-3">
                      <div style="height: 100px;" class="border rounded mb-2 w-100">
                          <img src="#" alt="img" class="img-fluid">
                      </div>
                      <div>
                        
                    </div>
                </div>
                <div class="col-10 d-flex flex-column">
                  <h2 class="card-title d-flex ms-2">{{ question.tittle }}</h2>
                  <p class="card-text ms-2 mb-3">{{ question.content }}</p>
                  <div  class="card-link">
                    <span class="ms-2 mt-6 text-decoration-underline">Tags:</span>
                    <a href=""><span class="badge rounded-pill text-bg-primary font-monospace">black-jack</span></a>
                    <a href=""> <span class="badge rounded-pill text-bg-primary font-monospace">bender</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
                
              <div class="row">
                <h2 class="fw-semibold text-base">Answers</h2>
              </div>
              
              {% include 'components/answers.html' %}
              {% include 'components/answers.html' %}
              
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" ><h4 class="text-decoration-underline fw-semibold text-base">Add your answer:</h4></label>
        <textarea class="form-control mb-6" id="exampleFormControlTextarea1" rows="6" placeholder="Enter your text here"></textarea>
      </div>
      <div class="d-grid gap-2"> <button class="btn btn-outline-primary" type="submit">Send</button></div>


              
        {% endblock %}