{% load static %}
<div class="card mb-4 mt-3" data-search ="msg-template" style="width: 100%;">
    <div class="card-body">
        <div class="d-flex">
            <div class="col-1 me-3">
                <div style="height: 65px;" class="border rounded mb-2 w-100">
                    {% if answer.author.profile.avatar %}
                        <img src="{{ answer.author.profile.avatar.url }}" alt="avatar" class="img-fluid h-100 w-100 object-fit-cover">
                    {% else %}
                        <img src="{% static 'img/default_avatar.png' %}" alt="avatar" class="img-fluid h-100 w-100 object-fit-cover">
                    {% endif %}
                </div>
                <form method="post" action="{% url 'like_answer' answer.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="bi bi-heart"></i> 
                        <span class="like-count">{{ answer.answerlike_set.count }}</span>
                    </button>
                </form>
            </div>
            <div class="col-11 d-flex flex-column">
                <p class="card-text" data-search="msg-content">{{ answer.content }}</p>
                <div class="form-check">
                    <input class="form-check-input mark-correct-checkbox" 
                           type="checkbox" 
                           data-answer-id="{{ answer.id }}"
                           {% if answer.is_correct %}checked{% endif %}
                           {% if request.user != answer.question.author %}disabled{% endif %}>
                    <label class="form-check-label" for="flexCheckChecked">
                        <div class="fw-semibold">Correct!</div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>