{% load static %}
<div class="card mb-4" style="width: 100%;">
    <div class="card-body">
        <div class="d-flex">
            <div class="col-1 me-3 ">
                <div style="height: 70px;" class="border rounded mb-2 w-100">
                    <img src="#" alt="img" class="img-fluid">
                </div>
                <div>
                    <button type="button" class="btn btn-outline-primary">
                        <i class="bi bi-heart"></i> <span class="like-count">12</span>
                      </button>
                </div>
            </div>
            <div class="col-11">
                <a href="{% url 'question' question_id=question.id %}"><h5 class="card-title">{{ question.tittle }}</h5></a>
                <p class="card-text" style="margin-bottom: 32px;">{{ question.content }}</p>
                <a href="{% url 'question' question_id=question.id %}" class="card-link" style="margin-right: 30px;">Answers (3)</a>
              <span class="text-decoration-underline">Tags:</span>
              {% for tag in question.tags %}
              <a href="{% url 'questions_by_tag' tag_name=tag %}"><span class="badge rounded-pill text-bg-primary font-monospace">{{ tag }}</span></a>
              {% endfor %}
            </div>
        </div>
    </div>
</div>